.footer {
  background-color: var(--inverted-primary-color);
  height: 30px;
  width: 100%;

  @media (max-width: 770px) {
    height: 20px;
  }

  &_title {
    width: 200px;
    float: right;
    margin-right: 20px;
    color: var(--secondary-text-color);
  }
}
