.userCard {
  display: grid;
  margin: 12px 12px 12px 5px;
  padding: 10px;
  align-items: center;
  font-size: 25px;
  color: var(--primary-text-color);

  @media (max-width: 700px) {
    font-size: 20px;
    margin-left: 2px;
  }

  @media (max-width: 400px) {
    font-size: 15px;
  }

  &_avatar {
    display: grid;
    margin-right: 15px;
  }

  &_userInfo {
    font-family: var(--font-family-main);
  }

  &_companyInfo {
    font-family: var(--font-family-main);
    margin-top: 15px;
  }
}

.user {
  display: flex;

  @media (max-width: 880px) {
    flex-wrap: wrap;
  }
}
.name {
  display: flex;
  justify-content: space-between;
}

.btn {
  color: var(--primary-text-color);
  border: 2px var(--primary-text-color) solid;
  width: 100px;
}
