.app.dark {
  --bg-color: #042655;
  --inverted-bg-color: #eddfff;
  --primary-color: #0d0f0b;
  --secondary-color: #1f8054;
  --inverted-secondary-color: #194230;

  //text
  --primary-text-color: #cac8ce;
  --hover-text: #dbdbe6;

  //skeleton
  --skeleton-shadow: #2b2be8;
  --skeleton-color: #1515ad;

  //code
  --code-bg: #1212a1;

  //card
  --card-bg: #361d49;
}
