:root {
  --bg-color: #fefffe;
  --inverted-bg-color: #090949;
  --primary-color: #4b5980;
  --secondary-color: #801c2e;
  --inverted-primary-color: #14181a;
  --inverted-secondary-color: #2ed32e;
  --red-light: #ff6148;
  --red-dark: #8b050f;
  --primary-text-color: rgb(27, 27, 27);
  --secondary-text-color: #d1e6d1;
  //text
  --hover-text: #000005;
  --black-text: #000005;
  //skeleton
  --skeleton-shadow: #000005;
  --skeleton-color: #b9b7b7;

  --light-gray: rgb(212, 201, 200);
  --min-height-page: 100vh;
}
