._appRouter_djtvp_1 {
  min-height: var(--min-height-page);
  margin: 15px 10px;
}
@media (max-width: 3000px) {
  ._appRouter_djtvp_1 {
    margin-bottom: 700px;
  }
}
@media (max-width: 1500px) {
  ._appRouter_djtvp_1 {
    margin-bottom: 395px;
  }
}
