._counter_16t3a_1 {
  display: grid;
  color: var(--primary-text-color);
}
._counter_title_16t3a_5 {
  font-size: 45px;
  margin-left: 25px;
}
._counter_btns_16t3a_9 {
  display: flex;
  margin-top: 20px;
}
._btn_16t3a_14 {
  width: 45px;
  height: 35px;
  color: var(--primary-text-color);
  border: 2px var(--primary-text-color) solid;
}
