._desktop_sidebar_menu_qlhq4_1 {
  background-color: var(--inverted-primary-color);
  display: flex;
  width: 100%;
  justify-content: end;
  margin-top: 25px;
}
._desktop_sidebar_menu_items_list_qlhq4_8 {
  display: flex;
  margin-right: 45px;
}
._desktop_sidebar_menu_item_qlhq4_8 {
  width: 100%;
  margin: 0 5px;
  text-align: center;
  align-items: center;
  height: 50px;
  font-family: var(--font-family-main);
  border-radius: 10px;
}
._desktop_sidebar_menu_item_qlhq4_8:hover {
  background-color: var(--inverted-secondary-color);
  border-radius: 5px;
  color: var(--hover-text);
}
._desktop_sidebar_menu_item_qlhq4_8:active {
  color: var(--secondary-text-color);
  text-decoration: underline;
}
@media (max-width: 770px) {
  ._desktop_sidebar_qlhq4_1 {
    display: none;
  }
}
._title_qlhq4_36 {
  display: block;
  color: var(--secondary-text-color);
  font-size: 20px;
  padding: 10px;
}
._title_qlhq4_36:hover {
  color: var(--hover-text);
}
