._lds_ellipsis_1e61i_1 {
  display: inline-block;
  color: var(--primary-text-color);
  position: relative;
  width: 80px;
  height: 80px;
}
._lds_ellipsis_1e61i_1 div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--inverted-bg-color);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
._lds_ellipsis_1e61i_1 div:nth-child(1) {
  left: 8px;
  animation: _lds-ellipsis1_1e61i_1 0.6s infinite;
}
._lds_ellipsis_1e61i_1 div:nth-child(2) {
  left: 8px;
  animation: _lds-ellipsis2_1e61i_1 0.6s infinite;
}
._lds_ellipsis_1e61i_1 div:nth-child(3) {
  left: 32px;
  animation: _lds-ellipsis2_1e61i_1 0.6s infinite;
}
._lds_ellipsis_1e61i_1 div:nth-child(4) {
  left: 56px;
  animation: _lds-ellipsis3_1e61i_1 0.6s infinite;
}
@keyframes _lds_ellipsis1_1e61i_1 {
  0% {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes _lds_ellipsis3_1e61i_1 {
  0% {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes _lds_ellipsis2_1e61i_1 {
  0% {
    transform: translate(0);
  }
  to {
    transform: translate(24px);
  }
}
