._mobile_setting_1xawp_1 {
  width: 100%;
  position: absolute;
  background-color: var(--light-gray);
  right: 0;
}
._mobile_setting_wrapper_1xawp_7 {
  display: flex;
}
._item_1xawp_11 {
  display: flex;
  justify-content: center;
}
._btn_1xawp_16 {
  align-items: center;
  width: 90px;
  height: 90px;
}
._themeSwitcher_btn_46tfq_1 {
  width: 75px;
}
