._mobileSidebar_1nr5u_1 {
  position: absolute;
  background-color: var(--inverted-primary-color);
  display: none;
}
._mobileSidebar_menu_1nr5u_6 {
  display: flex;
}
@media (max-width: 770px) {
  ._mobileSidebar_1nr5u_1 {
    display: grid;
    flex-direction: column;
    width: 100%;
  }
}
._item_1nr5u_17 {
  font-size: 28px;
  border-radius: 7px;
  margin: 12px;
  padding: 5px;
  text-align: center;
  align-items: center;
  font-family: var(--font-family-main);
}
._item_1nr5u_17:hover {
  background-color: var(--inverted-secondary-color);
  border-radius: 5px;
  color: var(--hover-text);
}
._item_1nr5u_17:active {
  color: var(--red-dark);
}
._title_1nr5u_35 {
  display: block;
  color: var(--secondary-text-color);
}
._title_1nr5u_35:hover {
  color: var(--hover-text);
}
