._navbar_1mios_1 {
  background-color: var(--inverted-primary-color);
  height: 180px;
  background: url(./gems-LQKp5K4W.jpg);
  opacity: 1;
}
@media (min-width: 1024px) {
  ._navbar_1mios_1 {
    background-size: 100%;
  }
}
@media (max-width: 770px) {
  ._navbar_1mios_1 {
    height: 120px;
  }
}
._navbar_wrapper_1mios_17 {
  justify-content: space-between;
  display: flex;
  height: 113.8333333333px;
  width: 100%;
}
._navbar_burgerMenu_1mios_23,
._navbar_gearSetting_1mios_23 {
  width: 40px;
  height: 40px;
}
._navbar_logo_1mios_27 {
  margin-left: 3px;
  display: flex;
  font-size: 45px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 420px) {
  ._navbar_logo_1mios_27 {
    font-size: 38px;
  }
}
._navbar_logoPicture_1mios_39 {
  width: 45px;
  height: 45px;
  margin-right: 25px;
  margin-left: 5px;
}
._navbar_btns_1mios_45 {
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
._navbar_mobile_1mios_51 {
  display: flex;
  margin-right: 5px;
}
._btn_1mios_56 {
  text-align: center;
  width: 75px;
  height: 75px;
  margin-left: 20px;
}
@media (max-width: 770px) {
  ._btn_1mios_56 {
    display: none;
  }
}
._burgerBtn_1mios_68,
._gearBtn_1mios_69 {
  display: none;
}
@media (max-width: 770px) {
  ._burgerBtn_1mios_68,
  ._gearBtn_1mios_69 {
    display: flex;
  }
}
@media (max-width: 420px) {
  ._burgerBtn_1mios_68,
  ._gearBtn_1mios_69 {
    width: 30px;
    height: 30px;
  }
}
h4 {
  color: var(--black-icon);
}
