._switherLanguage_1ireg_1 {
  display: grid;
  width: 75px;
  height: 75px;
}
._switherLanguage_flag_1ireg_6 {
  height: 50px;
}
._switherLanguage_title_1ireg_9 {
  color: var(--black-text);
  text-align: center;
  top: 0;
}
