._user_ju9tf_1 {
  font-size: 20px;
  margin-top: 6px;
  text-decoration: underline;
  color: var(--primary-text-color);
}
._user_title_ju9tf_7 {
  margin-top: 10px;
}
._btn_ju9tf_11 {
  margin-top: 5px;
  border: 2px var(--primary-text-color) solid;
}
